<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultiShop Admin - @ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Template/Admin/bootstrap/css/bootstrap.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Template style -->
    <link rel="stylesheet" href="~/Template/Admin/dist/css/style.css">
    <link rel="stylesheet" href="~/Template/Admin/tables/et-line-font/et-line-font.css">
    <link rel="stylesheet" href="~/Template/Admin/tables/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/Template/Admin/dist/weather/weather-icons.min.css">
    <link type="text/css" rel="stylesheet" href="~/Template/Admin/dist/weather/weather-icons-wind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>